body {
    background: #ccc;
    padding: 0;
    margin: 0;
    font-family: sans;
    border-style: none;
}

#msg-bar {
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
}

#msg {
    font-size: 1.5em;
    width: 100%;
}

#status-msg {
    margin: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 2.5em;
    background: #999;
    text-align: center;
    float: left;
    left: 0;
    width: 100%;
    color: #ddd;
    position: fixed;
}

#join-form {
    padding-top: 2.5em;
    font-size: 2.5em;
    text-align: center;
}

#name {
    font-size: 0.75em;
    text-align: center;
}

form {
    margin: 0;
}

input {
    background: #ddd;
    border-width: 0;
    clear: both;
    height: 48pt;
    margin: 0;
    outline-width: 0;
    padding: 0.5em;
}

input:focus {
    background: #fff;
}

input[disabled='disabled'] {
    background: #ccc;
    color: #555;
}

#msgs {
    background: none repeat scroll 0 0 #CCCCCC;
    bottom: 48pt;
    left: 0;
    list-style-type: none;
    margin: 0;
    overflow: auto;
    padding-bottom: 0;
    padding-left: 0.125em;
    position: fixed;
    right: 0;
    top: 0;
}

#msgs li {
    line-height: 1.4em;
}

body.disabled {
    background: #ccc;
    color: #555;
}

.timestamp {
    color: #888;
    padding-right: 0.5em;
}

#msgs.timestamps-off li .timestamp {
    display: none;
}

.joined-name, .left-name {
    font-style: italic;
    padding-right: 0.5em;
}

.msg-name {
    font-weight: bold;
    padding-right: 0.66em;
}

